@import 'global', 'mixins';
@import 'card', 'sidebar', 'sidebartags', 'article', 'mobile_sidebar';

* {
  --body-font: 'Sarala', sans-serif;
  --title-font: 'Bungee', sans-serif;

  --grey-border: 1px solid rgba(0, 0, 0, 0.2);
}

html {
  font-family: var(--body-font);

  line-height: 1.25rem;
  font-size: 1rem;

  background-color: #eee;
}

#main {
  display: flex;
  min-height: 100vh;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  & > *:nth-child(2) {
    flex: 1;

    padding: 8px;

    @include not-mobile {
      overflow-x: hidden;
      overflow-y: auto;
    }

    height: 100vh;
    box-sizing: border-box;
  }
}