.mobile-sidebartags {
  padding: 4px;

  & > div {
    font-family: var(--body-font);
    font-size: 1rem;

    padding: 2px;
    margin: 4px;

    display: flex;
    align-items: center;

    text-transform: capitalize;
    user-select: none;
  }

  &-tag {
    border: 1px solid #c51111;

    cursor: pointer;
    

    & > svg {
      margin-right: 4px;
    }

    &:hover {
      background-color: scale-color(#c51111, $lightness: +90%);
    }

    &:active {
      background-color: scale-color(#c51111, $lightness: +80%);
    }

    &.active {
      color: #fff;
      background-color: #c51111;

      & > svg {
        fill: #fff;
      }
  
      &:hover {
        background-color: scale-color(#c51111, $lightness: -10%);
      }
  
      &:active {
        background-color: scale-color(#c51111, $lightness: -20%);
      }
    }
  }
}