.mobile-sidebar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  background-color: #fff;
  
  cursor: pointer;

  font-size: 2rem;
  font-family: var(--title-font);

  border-bottom: var(--grey-border);

  & > div {
    padding: 8px;

    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin: 8px;
    }
  }

  &-toggle {
    display: inline-block;
    margin: -8px;
    margin-bottom: -9px;
    padding: 8px;
    
    border-bottom: 1px solid #c51111;

    text-align: center;
  }

  &-title {
    text-align: center;
    margin: 8px 16px;
  }

  &-about {
    font-size: 1.5rem;
  }
}